<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To home</button>

  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aperiam aspernatur beatae corporis deleniti distinctio dolorem eaque eligendi est fugiat hic, id in ipsa ipsum iste itaque molestias mollitia natus nobis obcaecati odit omnis perferendis placeat quasi qui quis quo repellat reprehenderit saepe similique tempore, ullam voluptas voluptate voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aperiam aspernatur beatae corporis deleniti distinctio dolorem eaque eligendi est fugiat hic, id in ipsa ipsum iste itaque molestias mollitia natus nobis obcaecati odit omnis perferendis placeat quasi qui quis quo repellat reprehenderit saepe similique tempore, ullam voluptas voluptate voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aperiam aspernatur beatae corporis deleniti distinctio dolorem eaque eligendi est fugiat hic, id in ipsa ipsum iste itaque molestias mollitia natus nobis obcaecati odit omnis perferendis placeat quasi qui quis quo repellat reprehenderit saepe similique tempore, ullam voluptas voluptate voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aperiam aspernatur beatae corporis deleniti distinctio dolorem eaque eligendi est fugiat hic, id in ipsa ipsum iste itaque molestias mollitia natus nobis obcaecati odit omnis perferendis placeat quasi qui quis quo repellat reprehenderit saepe similique tempore, ullam voluptas voluptate voluptates?</p>
  </div>

</div>
